<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgb(11, 112, 95);">
  <a class="navbar-brand" href="#">Airline Service</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"  *ngIf="userLoggedIn(true)" routerLink="/bookings">Bookings</a>
        
      </li>
      <li class="nav-item">
        <a class="nav-link"  *ngIf="adminLoggedIn(true)" routerLink="/inventorys">Plan Inventory</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  *ngIf="LoggedIn(true)" routerLink="/searchflight">Search Flight</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" *ngIf="LoggedIn(false)" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="LoggedIn(false)" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor:pointer" *ngIf="LoggedIn(true)" (click)="LogOut()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" style="background-color: #d8dbe7;">
  <router-outlet></router-outlet>
</div>